<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quote to Scrap</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    {% load extract_tags %}
    <main class="container">
      <nav
        style="
          margin-bottom: 20px;
          border-bottom: 2px solid;
          padding-left: 30px;
        "
      >
        {% if user.is_authenticated %}
        <ul>
          <li>
            <a href="{% url 'quoteapp:quote' %}" role="button">Add Quote</a>
          </li>
          <li>
            <a href="{% url 'quoteapp:author' %}" role="button">Add Author</a>
          </li>
          <li><a href="{% url 'quoteapp:tag' %}" role="button">Add Tag</a></li>
        </ul>
        <ul>
          <li>Welcome <b>{{ user.username }}!</b></li>
          <li><a href="{% url 'users:profile' %}" role="button">Profile</a></li>
          <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
          <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
      </nav>
      <nav>
        {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'quoteapp:delete_all_quotes' %}" role="button">Delete all Quotes</a></li>
          <li><a href="{% url 'quoteapp:delete_all_authors' %}" role="button">Delete all Authors</a></li>
          <li><a href="{% url 'quoteapp:delete_all_tags' %}" role="button">Delete all Tags</a></li>
        </ul>
        {% endif %}
      </nav>
      <nav>
        {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'quoteapp:seed_quotes' %}" role="button">Add test Quotes (JSON-file)</a></li>
          <li><a href="{% url 'quoteapp:seed_authors' %}" role="button">Add test Authors (JSON-file)</a></li>
          <li><a href="{% url 'quoteapp:seed_quotes_mongo' %}" role="button">Add test Quotes (MongoDB)</a></li>
          <li><a href="{% url 'quoteapp:seed_authors_mongo' %}" role="button">Add test Authors (MongoDB)</a></li>
        </ul>
        {% endif %}
      </nav>


      {% for quote in quotes %}
      <ul>
        <li>
          <p>{{ quote.quote }}</p>
          <p>
            by <b>{{quote.author}}</b>
            <a
              href="{% url 'quoteapp:detail' quote.author.fullname %}"
              >(about)</a
            >
          </p>
          <p>Tags: <small> {{ quote.tags|tags }} </small></p>
        </li>
      </ul>
      {% endfor %}
    </main>
  </body>
</html>
